*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, sans-serif;
    background:#f6f7fb;
}

.container{
    display:flex;
    min-height:100vh;
}

.sidebar{
    width:260px;
    background:white;
}

.main-content{
    flex:1;
    padding:30px;
}